body{
    background-color: #212121;
    color: white;
    padding: 0px;
    margin: 0px;
}

#logo{
    font-family: 'Brush Script MT';
    font-size: 35px;
    background-color: #040404;
    text-align: center;
    margin: 0 0 0 0;
}

.inline{
    display: inline;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    z-index: 50;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background-color: #101010;
}
li{
    float : left;
    margin: 0 7% 0% 7%;
}
li a{
    display: inline-block;
    color: white;
    padding: 14px 50px;
    text-decoration: none;
    text-align: center;
    font-family: 'Times New Roman';
    position: relative;
    text-transform: uppercase;
}

li a:hover{
    background-color: #151515;
    transition: 0.25s;
}

a.active{
    border: 1px;
    border-style:none none solid none;
    border-color:white ;
}

.content{
    font-size: 20px;
    margin:35px 20%;
}

.pic{
    margin-top: 35px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 185px;
}

div.first{
    animation: floater_1 1s ease 0s normal none;
}

div.second{
    animation: floater_2 1.1s ease 0s normal none;
}

.invisible{
    visibility: hidden;
}

@keyframes floater_1 {
    0.0%{
        transform: translate(0px,50px);
        opacity: 0;
    }
    100%{
        transform: translate(0px,0px);
        opacity: 1;
    }
}

@keyframes floater_2 {
    0.0%{
        transform: translate(0px,50px);
        opacity: 0;
    }
    100%{
        transform: translate(0px,0px);
        opacity: 1;
    }
    9.09%{
        transform: translate(0px,50px);
        opacity: 0;
    }
}

.icon{
    width: 35px;
}

.profile{
    clip-path: circle();
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 35px;
}